<h2>注文情報入力</h2>
<div>
	<%= form_with url: members_orders_confirm_path do |f| %>
		<table>
			<thead>
				<h3>支払い方法</h3>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= f.radio_button :payment_method, :true, checked: true %>
						<%= f.label :payment_method, "クレジットカード", {value: :true, style: "display: inline-block;"} %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.radio_button :payment_method, :false %>
						<%= f.label :payment_method, "銀行振込", {value: :false, style: "display: inline-block;"} %>
					</td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<h3>お届け先</h3>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= f.radio_button :address_option, 0 %>
						<%= f.label :ご自身の住所, class: "display: inline-block;" %>
						<%= "#{current_member.post_number} #{current_member.address} #{current_member.last_name}#{current_member.first_name}" %>
					</td>
				<tr>
					<td>
						<%= f.radio_button :address_option, 1 %>
						<%= f.label :登録済住所から選択, class: "display: inline-block;" %>
						<%= f.select :id , Destination.all.map {|e| [e.full_address, e.id] } %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.radio_button :address_option, 2 %>
						<%= f.label :新しいお届け先, class: "display: inline-block;" %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :post_address, "郵便番号" %>
						<%= f.text_field :post_address %>
						<%= f.label :post_address, "住所" %>
						<%= f.text_field :post_address %>
						<%= f.label :post_address, "宛名" %>
						<%= f.text_field :post_address %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.submit "確認画面へ進む" %>
					</td>
				</tr>
			</tbody>
		</table>
		
	<% end %>
</div>
