<h2>配送先登録・一覧</h2>
<div>
	<%= form_for(@dest_new, url: members_destinations_path) do |f| %>
		<% if @dest_new.errors.any? %>
			<ul>
	      		<% @dest_new.errors.full_messages.each do |message| %>
	        		<li><%= message %></li>
	      		<% end %>
		   </ul>
		<% end %>
		<table>
			<tr>
				<th>
					<%= f.label :post_address, "郵便番号(ハイフンなし)" %>
				</th>
				<td>
					<%= f.text_field :post_address %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :address, "住所" %>
				</td>
				<td>
					<%= f.text_field :address %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :full_name, "宛名" %>
				</td>
				<td>
					<%= f.text_field :full_name %>
				</td>
				<td><%= f.submit "登録する", class: "btn-sm btn-success" %></td>
			</tr>
		</table>

		<% if @dests %>
			<div>
				<table class="table table-bordered">
					<thead>
						<tr class="active">
							<th>郵便番号</th>
							<th>住所</th>
							<th>宛名</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @dests.each do |dest| %>
							<tr>
								<td><%= dest.post_address %></td>
								<td><%= dest.address %></td>
								<td><%= dest.full_name %></td>
								<td>
									<%= link_to "編集する", edit_members_destination_path(dest), class: "btn-sm btn-primary" %>
									<%= link_to '削除する', members_destination_path(dest), class: "btn-sm btn-danger" ,method: :delete, data: { confirm: '削除してもよろしいですか?' } %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
	<% end %>
</div>