

<div class="container">
  
  <div class="row">
    
    <div class="col-md-6 col-md-offset-2">
      
      <h2>管理者ログイン</h2>

      <div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary"  %>
          </div>
        <% end %>
        <!-- form_for -->

      </div>

    <!-- col-md-6 -->

    <div class="col-md-offset-2">
      <!-- 右に余白2カラム -->
    </div>
  </div>
</div>

<%= render "admins/shared/links" %>
