<div class="container">
 <div class="row">
  <div class="col-xs-10">
   <h2>商品一覧</h2>
  </div>
  <table class="products_index">
   <thead>
   	<tr>
   	 <th>商品ID</th>
   	 <th>商品名</th>
   	 <th>税抜価格</th>
   	 <th>ジャンル</th>
   	 <th>ステータス</th>
   	</tr>
   </thead>
   <tbody>
   	<% @product.each do |product| %>
   	<tr>
   	 <td><%= product.id %></td>
   	 <td><%= link_to product.name, admin_products_show_path(product.id) %></td>
   	 <td><%= product.unit_price %></td>
   	 <td><%= product.product_type_id %></td>
   	 <td><%= product.sales_status ? "販売中" : "販売停止中" %><td>
   	</tr>
   	<% end %>
   </tbody>
  </table>
 </div>
</div>

