<div class="container">
  <div class="row">
   <div class="col-xs-10 col-xs-offset-1">
   	<% if @product.errors.any? %>
   	<h4 class="error_message">
   	 記入していない項目があります
   	</h4>
   	<div id="error_full_message" class="alert alert-danger">
   	 <ul>
   	 	<% @product.errors.full_messages.each do |message| %>

   	 	<li><%= message %></li>
   	 	<% end %>
   	 </ul>
   	</div>
   	<% end %>
   	<div class="row">

   	 <%= form_for(@product, url: admins_products_path(@product.id)) do |f| %>
    <div class="col-xs-5">
     <h2>商品登録画面</h2>
   <!--  画像投稿機能を入れる -->
    </div>
    <div class="col-xs-5 col-xs-offset-2">
     <table class="new_form">
      <tbody>
       <tr>
       	<th>商品名</th>
       	<td><%= f.text_field :name, class: "form-control" %></td>
       </tr>
       <tr>
       	<th>商品説明</th>
       	<td><%= f.text_area :explanation, class: "form-control" %></td>
       </tr>
       <tr>
       	<th>ジャンル</th>

       	<td><%= f.collection_select :products_type_id, ProductsType.all, :id, :type_name, include_blank: "--選択してください--" %></td>
       </tr>
       <tr>
        <th>税抜価格</th>
        <td><%= f.text_field :unit_price, class: "form-control" %><p>円</p></td>
       </tr>
       <tr>
       	<th>販売ステータス</th>
       	<td><%= f.select :sales_status, [["販売中", true],["販売停止中", false]], include_blank: "--選択してください--" %></td>
        </tr>
      </tbody>
     </table>
     <%= f.submit "新規登録" %>
    </div>
    <% end %>
</div>