<div class="container">
 <div class="row">
  <div class="col-xs-4">
   <p id="notice"><%= flash[:notice] %></p>
   <h2>商品詳細</h2>
   <!--  画像投稿機能を入れる -->
  </div>
  <div class="col-xs-8">
  	<table class="table_show">
  	 <tr>
  	  <th>商品名</th>
  	  <td><%= @product.name %></td>
  	 </tr>
  	 <tr>
  	  <th>商品説明</th>
  	  <td><%= @product.explanation %></td>
  	 </tr>
  	 <tr>
  	  <th>ジャンル</th>
  	  <td><%= @product.products_type.type_name %></td>
  	 </tr>
  	 <tr>
  	  <th>税込価格(税抜価格)</th>
      <td>
        <%= (@product.unit_price * 1.1).round.to_s(:delimited, delimiter: ',') %>
        <%= "(#{@product.unit_price.to_s(:delimited, delimiter: ',')})円" %>
      </td>
    </tr>
  	 <tr>
  	  <th>販売ステータス</th>
      <% if @product.sales_status == "true" %>
        <td>販売中</td>
      <% else %>
        <td>販売停止中</td>
      <% end %>
  	 </tr>
  	</table>
  </div>
  <%= link_to "編集", edit_admins_product_path(@product.id), class: "btn btn-default" %>
 </div>